[package]
name = "hoover"
version = "0.0.1"
edition = "2024"
authors = ["Erik Hollensbe <git@hollensbe.org>"]
description = "spy on yourself for good"
license = "AGPL-3.0-or-later"
repository = "https://github.com/erikh/hoover"

[dependencies]
